<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Reservation</title>
  <style type="text/css">
   th { font-family: Verdana, Helvetica; }
   body { background: url({{ url_for('static', filename='9=back.jpg') }}); }
  </style>
 </head>
 <body>
  <table border="2">
   <tr>
    <th>ID/Date</th>
    {% for i in DateList %}
      <td>{{i}}</td>
    {% endfor %}
   </tr>
    {% for i in ListID %}
      <tr>
       <td width="200">{{i}}</td>
       {% for j in DateList %}
           <td>
               {% for k in AvailableToday(i,j) %}
               {% if k %}
               <span style="background: #32CD32">.</span>
               {% else %}
               <span style="background: #CD5C5C">.</span>
               {% endif %}
               {% endfor %}
           </td>
       {% endfor %}
      </tr>
    {% endfor %}
  </table>
 </body>
</html>
